@page "/admin"


<div class="container-lg">
    <h3>Panel de administracion</h3>
    <div class="card">
        <h5 class="card-header">Noticias</h5>
        <div class="card-body">
            <h5 class="card-title">Administrar noticias</h5>
            <a href="/admin/addnews" class="btn btn-primary">Administrar</a>
        </div>
    </div>
    <br />
    <div class="card">
        <h5 class="card-header">Categorias</h5>
        <div class="card-body">
            <h5 class="card-title">Administrar categorias</h5>
            <a href="/admin/addcategory" class="btn btn-primary">Administrar</a>
        </div>
    </div>
</div>
<br />


@code {

}
