@page "/login"

<div class="container">
    <form class="pb-5">
        <label class="form-label">E-mail</label>
        <input class="form-control" type="email"/>
        <label class="form-label">Password</label>
        <input class="form-control" type="password" />
        <br />
        <button class="btn btn-success">Ingresar</button>
        <a class="btn btn-secondary" href="/">Volver</a>

    </form>
</div>


@code {

}
