<!-- Page header with logo and tagline-->
<header class="bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <p class=""><small class="text-muted">@DateTime.Now.ToLongDateString(), @DateTime.Now.ToShortTimeString()</small></p>
            <h1 class="fw-bolder text-danger">Bienvenido a noticias Blazor!</h1>
            <p class="lead mb-0">Las noticias presentadas en Blazor Server App mediante API REST ASP.NET</p>
        </div>
    </div>
</header>
@code {

}
