@inherits LayoutComponentBase

<div class="page">
    <main>
        <article >
            <NavBar/>
            <Header/>


            @Body


            <!-- Footer-->
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
            </footer>
        </article>
    </main>
</div>
