@using Microsoft.AspNetCore.Components.Web

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass nav-scrollable collapse navbar-collapse" id="navbarNav" @onclick="ToggleNavMenu">
        <nav class="navbar-nav">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Inicio</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/economia">Economia</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/policiales">Policiales</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/deportes">Deportes</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/sociedad">Sociedad</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/politica">Politica</NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/internacionales">Internacionales</NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}