
<!-- Search widget-->
<div class="card mb-4">
    <div class="card-header">Search</div>
    <div class="card-body">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Buscar una noticia ..." aria-label="Buscar una noticia ..." aria-describedby="button-search" />
            <button class="btn btn-danger" id="button-search" type="button">Ir</button>
        </div>
    </div>
</div>

@code {

}
